# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache

# Virtual env
venv/
.env/
*.env
.venv/
.env.example

output/
*.json
*.csv
*.log
*.xml

# Scripts
scripts/

# Build
rpa_etl.egg-info/
__init__.py

# Tests
*.txt

# Core
robot/core
robot/schema

artifacts/